{% extends "familia/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">    

  <div class="row">
    <div class="col">
      {% url 'agregar_mascota' as agregar_url %}
      {% url 'buscar_mascota' as buscar_url %}
      {% bootstrap_button "Agregar" button_class="btn-success" button_type="link" href=agregar_url %} 
      {% bootstrap_button "Buscar" button_class="btn-success" button_type="link" href=buscar_url %}  
    <div>
  <div>

  <div class="row">
    <div class="col">
        {% if mascotas %}
        <table class="table">
            <thead>
                <th scope="col">Identificador</th>
                <th scope="col">Tipo</th>
                <th scope="col">Raza</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Acciones</th>
            </thead>

            {% for m in mascotas %}
            <tbody>
                <tr>
                    <th scope="row">{{m.id}} </th>
                    <td> {{m.tipo}} </td>
                    <td> {{m.raza}} </td>
                    <td> {{m.nombre}} </td>
                    <td> {{m.fecha_nacimiento}} </td>
                    {% url 'borrar_mascota' identificador=m.id as borrar_url %}
                    <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  
            </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>No tienes mascotas cargadas</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %} 